html, body {
	background: #222;
	color: #FFF;
	min-width: 400px;
	margin: 5px 0 0 0;
	padding: 15px;
}

nav {
	width: 100%;
	border-bottom: 1px solid #FFF;
	padding: 0 0 10px 0;
}

nav span a {
	text-transform: uppercase;
	text-decoration: none;
	color: #FFF;
	margin: 0 12px;
}
.active {
	text-decoration: underline;
	color: #FF0;
	cursor: pointer;
}

nav span a:hover {
	text-decoration: underline;
	color: #FF0;
	cursor: pointer;
}

h1 {
	text-align: center;
	color: orange;
	text-decoration: underline;
	text-decoration-color: red; 
}

iframe {
	width: 100%;
	margin: 0 auto;
}

div {
	margin-top: 50px;
	border-left: 1px solid #FFF;
	padding: 0 0 0 25px;
}

h2 {
	color: orange;
}

footer {
	margin-top: 70px;
}

footer p {
	text-align: center;
	font-size: 10px;
}